<a href="https://colab.research.google.com/github/gmuhammed/Intro_to_python/blob/main/day1/Day_1_Python_programming_for_beginners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python is a high level programming language with numerous applications.

**Why python ?**
* versatilility: data science, Scripting and automation, Machine Learning, Web  Development etc.
* range of libraries, packages, frameworks, and modules
* massive active Community
* easy to understand and learn
* Improve your job prospects

In [ ]:
print("Hello world")

In [ ]:
print(4 + 5)
print(5 + 6 - 7)

### Python primitive data type:

Integers are positive or negative whole numbers without a fractional part, that is they have no decimal part e.g. 20, 0, -9

In [ ]:
type(4)

Floating point or float for short are numbers with fractional part e.g. 2.8, 5.789, 7.95737

In [ ]:
type(2.8)

Strings are sequence of characters. They are created by enclosing characters inside a single quote or double-quotes. e.g "Sola", 'Peace', '100 Kg', "The boy is running fast". 

Note: You must be consistent with the quotes.
"Great'  X
'The queen"  X

In [ ]:
type("rest")

Boolean has only 2 values: True or False

In [ ]:
type(True)

**Variables**
* variable name must start with  an alphabet
* variable name can contain alphabet, numbers and underscore

In [ ]:
#sample correct variable names

In [ ]:
#sample incorrect variable names

In [ ]:
x = 4
print(x + 5)
print(x - 7)
print(x * -10)
print(x / 3)

Note: division operation between 2 integers will result into floating point number

In [ ]:
y = 3.4
print(y + 20.67)
print(x - 7.8)
print(x * 2.3)
print(x / 5.9)

logical operators :
* <, >, ==, !=
* and, or, not

In [ ]:
#comment are used to add context to our code

if/else statement

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

In [ ]:
num1 = 33
num2 = 200
if num2 > num1:
  print("num2 is greater than num1")
else:
  print("num2 is less than num1")

In [ ]:
#input from user and print out the number

In [ ]:
#if elif else #grade_system
# passed if grade is greater than 50
# average if grade is equals 50 
# failed if grade is less than 50

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

In [ ]:
#Day 1 prject
#create a program that takes user input and print out whether the number is greater than 5 or not

In [ ]:
#Day1 Assignment
#create a program that takes 2 user input and print out whether the first number is greater than second or not

In [ ]:
#send your answer to dsn_iseyin@datasciencenigeria.ai using day1 as subject